:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}